    <meta charset="UTF-8">
    <title>OpenTok Broadcast Sample App</title>
    <base href="/live/">

    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <script src="https://static.opentok.com/v2/js/opentok.min.js" type="text/javascript"></script>
