<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href=""/>

    <title>VoiceVoice - Broadcast</title>

    <% include ../partials/common-head %>

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="css/styles1.css">
</head>
<body>
<div id="credentials" style="display:none;" data="<%= credentials %>"></div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1"
                    data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <a href="home.php" title="My Conversations">
                    <img alt="VoiceVoice" src="images/vv-logo-sphere.svg">
                </a>
            </div>
            <div class="navbar-content" style="float: left;padding: 20px;">
                <span class="title">Broadcast</span>
                <button id="broadcastStatus" class="btn btn-sm btn-danger"
                        style="cursor: unset;user-select: none;    pointer-events: none;"><i class="fa fa-circle"
                                                                                             aria-hidden="true"></i>
                    Live
                </button>
                <button id="startStop" class="btn btn-sm btn-default" disabled>Start</button>
                <select name="videoSource" class="form-control input-sm" style="width:100px;display: inline-block;">
                    <option value="webcam" selected="">Webcam</option>
                    <option value="screen">Screen</option>
                </select>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="layout-dd">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#newSourceModal"
                            data-keyboard="false"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add New Source
                    </button>
<!--                    <span data-toggle="tooltip" data-placement="left" title="2 Hands Up"></span>-->
                </li>
                <li class="dropdown" style="display:none;">
                    <a href="javascript:void(0)" class="dropdown-toggle user" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <span class="caption">Layout</span><img src="images/ic-grid2x2.svg" style=""><span
                                class="caret"></span>
                    </a>
                    <ul class="dropdown-menu layout-list">
                        <li data-option="1">[]</li>
                        <li data-option="1x1"><img src="images/ic-grid1x1.svg"></li>
                        <li data-option="2x2"><img src="images/ic-grid2x2.svg"></li>
                        <li data-option="3x1" class="disable"><img src="images/ic-grid3x1.svg"></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle user" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false"><i class="fa fa-user-circle-o"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>Kumail Raza</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)">Leave</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>
<div class="main-container">
    <div class="sidebar left">
        <div class="nav nav-pills">
            <div>
                <button class="active">
                    <img src="images/ic-antenna.svg">
                </button>
            </div>
            <div>
                <i class="fa fa-users fa-6" style="font-size: 24px; color: #ced2d6; margin: 14px;"></i>
            </div>
        </div>
    </div>
    <div class="main-content two-two">
        <div class="box-container" style="display: none;">
        </div>
        <div id="error" style="align-items: center;flex: 1;justify-content: center;display: flex;"><h3>No conversation
                is on going, right now!</h3></div>
    </div>
    <div class="sidebar right collapse">
        <div class="header">
            <div class="toggleRightSidebar"></div>
            <div class="handIndicator" data-toggle="tooltip" data-placement="left" data-container="body"
                 title="No Hands Up">
                <img src="images/hand-grey.svg" alt="" height="23px">
            </div>
        </div>
        <div class="content">
            <table id="raiseHandUserList" class="table table-condensed table-participants">
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="footer" style="display:none;">
            <button class="btn btn-primary" data-toggle="modal" data-target="#newSourceModal" data-keyboard="false">Add
                New Source
            </button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newSourceModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Add New Source</h3>
            </div>
            <div class="modal-body">
                <div class="k-tab-container">
                    <div class="k-tabs">
                        <ul>
                            <li data-value="embed">Text</li>
                            <li data-value="webcam" class="active">Webcam</li>
                            <li data-value="screen">Webcam</li>
                        </ul>
                    </div>
                    <div>
                        <div class="k-tab-webcam">
                            <div id="tree" class="left">
                                <ul></ul>
                            </div>
                            <div class="right">
                                <div id="vidContainer001"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Add New Source</button>
            </div>
        </div>

    </div>
</div>
<div class="modal" id="nameModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter your name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Host Name: </label>
                    <input type="text" class="form-control" id="userName"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="nameModalSaveBtn">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Site scripts placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script src="js/i-common.js" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>
<script src="js/broadcast.js" type="text/javascript"></script>
<script src="js/common.js" type="text/javascript"></script>
<script src="js/host.js" type="text/javascript"></script>

<!-- Tooltips -->
<script type="text/javascript">
    jQuery(document).ready(function () {

    });
</script>

<script>
</script>
</body>
</html>
